@import url("https://fonts.googleapis.com/css2?family=Epilogue:wght@500;700&display=swap");

:root {
  --almost-white: hsl(0, 0%, 98%);
  --medium-gray: hsl(0, 0%, 41%);
  --almost-black: hsl(0, 0%, 8%);
  --def-font: "Epilogue", sans-serif;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}
* {
  margin: 0;
  padding: 0;
}
*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  font-family: var(--def-font);
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 1.6;
  background-color: var(--almost-white);
}

.btn {
  display: block;
  padding: 1rem 3rem;
  border: 0;
  background: none;
  font-family: var(--def-font);
  font-size: 1.6rem;
  cursor: pointer;
}

.btn-hero {
  background-color: var(--almost-black);
  color: var(--almost-white);
  border-radius: 10px;
  padding: 2rem 4rem;
  transition: all 0.2s;
}

.btn-hero:hover {
  background-color: var(--almost-white);
  color: var(--almost-black);
}

.nav-btn {
  color: var(--medium-gray);
}
.nav-btn:hover {
  color: var(--almost-black);
}
.nav-btn-border {
  border: 1px solid var(--medium-gray);
  border-radius: 15px;
}
.nav-btn-border:hover {
  border: 1px solid var(--almost-black);
}

.app-container main {
  filter: blur(0);
  transition: all 0.2s;
}

.app-container.show-sidebar main {
  filter: blur(4px);
}

.overlay {
}
.app-container .sidebar {
  transition: transform 0.4s;
}

.app-container .sidebar {
  transform: translateX(100%);
}

.app-container.show-sidebar .sidebar {
  transform: translateX(0);
}

@media screen and (max-width: 1000px) {
  html {
    font-size: 55%;
  }
}

@media screen and (max-width: 700px) {
  .app-container.show-sidebar main {
    filter: blur(4px);
  }
  .app-container .sidebar {
    display: flex;
  }
}

@media screen and (min-width: 700px) {
  .app-container.show-sidebar main {
    filter: blur(0);
  }
  .app-container .sidebar {
    display: none;
  }
}
